* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.sidebar {
    position: absolute;
    top: 0;

    height: 100%;
    width: 250px;
    background-color: #042331;
    transition: all 0.4s ease;
}

.sidebar header {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background: #063146;
    line-height: 70px;
    user-select: none;
}

.sidebar ul a {
    color: white;
    display: block;
    line-height: 56px;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
}



ul li:hover {
    transition: .9s;
    padding-left: 30px;

}

/* section */
section {
    margin-top: 7px;
    margin-left: 270px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 0.4s ease;
}

.box {
    position: fixed;
    bottom: 10px;
    right: 20px;
    margin-bottom: 30px;
}